.env
.env.*

server/last_ocr_upload.jpg
server/latest_frame.jpg
server/*.tmp.mp4
server/*.log

switch/hello_ocr_nro/build/
switch/hello_ocr_nro/*.elf
switch/hello_ocr_nro/*.nacp
switch/hello_ocr_nro/*.nro

switch/overlay/build/
switch/overlay/*.elf
switch/overlay/*.nacp
switch/overlay/*.ovl

switch/sysmodule/build/
switch/sysmodule/out/
switch/sysmodule/*.elf
switch/sysmodule/*.map
switch/sysmodule/*.npdm
switch/sysmodule/*.nso
switch/sysmodule/*.nsp

tmp/

tools/mtp_put_file
*.backup

__pycache__/
*.pyc
